[project]
authors = [
    {name = "Jean-Christophe Ruel", email = "info@innoptech.com"},
]
description = "A simple STL serializer and deserializer"
readme = "README.md"
license = {file = "LICENSE"}
keywords = ["stl", "video games", "rendering"]

[project.urls]
Homepage = ""
Repository = "https://github.com/Innoptech/OpenSTL"
Website = "https://www.innoptech.com/"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q"
testpaths = [
    "tests/python",
]

[tool]
[tool.commitizen]
name = "cz_conventional_commits"
version = "0.0.3"
tag_format = "v$version"


[tool.poetry.dependencies]
pybind11 = "2.11.1"
catch2 = "3.4.0"
