[build-system]
requires = ["setuptools>=42", "wheel" , "ninja", "cmake>=3.28.3"]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q"
testpaths = [
    "tests/python",
]

[tool]
[tool.commitizen]
name = "cz_conventional_commits"
version = "0.1.8"
tag_format = "v$version"


[tool.poetry.dependencies]
pybind11 = "2.11.1"
catch2 = "3.4.0"
